  <% MailingList.all.each do |ml| %> 
  <p>
    <%= check_box_tag "user[mailing_list][#{ml.id}]", true, (@user.new_record? ? true : @user.mailing_lists.include?(ml)) %>
    <%= t(ml.form_text) %>
    <input type="hidden" name="user[mailing_list][0]" value="true" />
  </p>
  <% end %>  